* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 0%;
}

.background-wrapper{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-color: #0d0e15;
}

.glow-light{
    position:absolute;
    border-radius: 50%;
    filter: blur(120px);
    pointer-events: none;
    opacity: 0.15px;
}

.glow-top-left{
    top: -100px;
    left: -100px;
    width: 450px;
    height: 450px;
    background: radial-gradient(circle, #a855f7 0%, transparent 70%);
}

.glow-bottom-right{
    bottom: -150px;
    right: -150px;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, #a855f7 0%, transparent 55%);
}



.container{
    display: flex;
    flex-direction: row;
    background-color: #13152A;
   
}


.header{
    width: 100%;
    height: 10vh;
    background-color: #11162C;
    padding-left: 100px;
    padding-top: 10px;
    color: rgb(185, 165, 230);
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.header-h1{
    font-size: 25px;
    color: #E1E1E1;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-span{
    color: #a855f7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-size: 15px;
}

.span-dot{
    width: 10px;
    height: 10px;
    background-color: #a855f7;
    border-radius: 100%;
    box-shadow: 0 0 10px #a855f7, 0 0 20px #a855f7;
}

/* right side page*/

.container-right{
    width: 50%;
    height: 85vh;
    margin: 0px;
    padding: 0px;
    background-color: #191C3D;
    margin-right: 50px;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(168, 85, 247, 0.5);
    margin-top: 15px;
}

.title-right-side{
    text-align: left;
    color: #E1E1E1;
    padding: 20px;
    margin-left: 30px;
}

.rihgt-side-h1{
    font-size: 40px;
    color: #E1E1E1;
    margin-top: 100px;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rihgt-side-p{
    font-size: 12px;
    color: #565fc9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.right-input-p{
    font-size: 12px;
    color: #E1E1E1;
    margin-top: 30px;
    padding-left:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input-email-password{
    width: 95%;
    padding:8px; 
    background-color: #13152A;
    border-radius: 10px ;
    border-color: #8660dd;
    border-width: 1px solid;
    color: white;
    padding-left: 15px;
    margin-top: 5px;
    
}

.button-login{
    margin-top: 10px;
    display:block;
    margin:20px auto;
    margin-left: 75px;
    width: 70%;
    padding: 8px;
    background-color: transparent;
    color: #a855f7;
    border: 1px solid #a855f7;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3 ease;
}

.button-login:hover{
    background-color: #a855f7;
    color: white;
    box-shadow: 0 0 12px rgba(168, 85, 247, 0.5);
}

.button-login:active {
  background-color: #9333ea; 
  transform: scale(0.98);   
  box-shadow: 0 0 6px rgba(168, 85, 247, 0.3); 
}

.rihgt-side-bottom-p{
    font-size: 12px;
    color: #565fc9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.destaque{
    color: #a855f7;
}

/* left side page*/
.container-left{
    width: 50%;
    height: 100vh;
    margin: 0px;
    padding: 0px;

}

.title-left-side{
    text-align: left;
    color: #E1E1E1;
    padding: 20px;
    margin-left: 30px;
}

.title-left-side-p{
    font-size: 12px;
    color: #565fc9;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left-side-h1{
    font-size: 40px;
    color: #E1E1E1;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}